.back {
    margin-top: 0px;
    padding-top: 10px;
    width: 1500px;

    border-radius: 25px;
   background-image: url(https://i.pinimg.com/originals/6c/c6/a7/6cc6a7370f4f50870641389870f92379.jpg);
  
}